/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left > img {
    object-fit: contain;
    height: 30px;
    margin-inline-start: 5px;
    cursor: pointer;
}

.header-middle {
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.header-middle .MuiSvgIcon-root {
    color: gray;
}

.header-middle > input {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    outline: none;
    font-size: medium;

}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

/* SIDEBAR */
.sidebar {
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}
.sidebar > Button{
    color: black;
}

.sidebar-compose {
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: gray;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar-footer {
    display: flex;
    justify-content: center;
}


/* SIDEBAR OPTIONS */
.sidebarOptions {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}

.sidebarOptions .MuiSvgIcon-root {
    padding: 5px;
}

.sidebarOptions > h3 {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebarOptions > p {
    display: none;
    font-weight: 300;
}
.sidebar-active > p {
    display: inline;
}
.sidebarOptions:hover > p {
    display: inline;
}

.sidebarOptions:hover, 
.sidebarOptions:hover > p,
.sidebarOptions > h3:hover,
.sidebar-active,
.sidebar-active > p ,
.sidebar-active > h3 {
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 800 !important;
    cursor: pointer;
}



/* EMAIL-LIST */

.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList-settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList-sections {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.section-selected {
    background-color: whitesmoke;
    border-width: 3px !important;
}

.section {
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: gray;
    border-width: 0 !important;
}

.section:hover {
    background-color: whitesmoke;
    border-width: 3px !important;
}

.section > h4 {
    font-size: 14px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


/* EMAIL - ROWS */

.emailRow {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}
.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}